body.scrollock {
    overflow-y: hidden;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 35, 35, 0.3);
    overflow-y: auto;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
}
.modal.show {
    display: block;
}
.modal__content {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 28px;
    background-image: url('./imgs/close.svg');
    background-size: cover;
    cursor: pointer;
}
.m-example {
    width: 100%;
    max-width: 1064px;
    margin: 40px;
    background-color: #FFFFFF;
    padding: 90px;
    position: relative;
}

.fade-in {
    animation: 0.3s linear fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.fade-out {
    animation: 0.3s linear fadeOut;
}
@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}